.GroupComponent {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 60%;
    cursor: pointer;
    margin: 20px;
    padding: 40px;
    background-color: white;
    box-shadow: -26px 15px #FF69DA;
}

.GroupComponent:hover {
    box-shadow: -26px 15px #FEE11A;
}

.GroupHeaderLinks {
    display: flex;
    height: 80px;
    font-size: 40px;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.GroupHeaderCaption {
    display: flex;
    height: 80px;
    font-size: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.groupComponentSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.GroupCompImg {
    border: 2px solid black;
    max-width: 500px;
    min-width: 550px;
}

.GroupImgDetails {
    display: flex;
    max-height: 500px;
    width: 100%;
}

.GroupCompDetails {
    margin-left: 20px;
}
