.previousSec {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: black;
    justify-content: space-between;
}

.upcomingSection {
    flex-direction: column;
    background-color: lightgray;
    color: black;
}

.component {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid black;
}


.eventDetailsImg {
    display: flex;
    width: 50%;
    border: 1px solid black;
    border-radius: 15px;
}

.imgDetails {
    display: flex;
}

.eventDetailsB {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
