.UpperMain {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.EntireUpperHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialButtons {
    display: flex;
    height: 150px;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}

.innerGDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.groupImg {
    display: flex;
    max-width: 700px;
    max-height: 1000px;
    border: 2px solid black;
}

.GroupDetails {
    display: flex;
    width: 45%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.groupButtons {
    display: flex;
    align-self: flex-end;
}

.singleButton {
    background-color: grey;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}

.singleButton:hover {
    background-color: red;
}

.breadLink {
    display: flex;
    height: 60px;
    font-size: 20px;
    width: 80%;
    align-items: center;
    text-decoration: none;
    color: black;
}

.OrganizerAboutSec {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 40px;
    border: 2px solid black;
    margin-top: 40px;
    padding: 10px;
    background-color: white;
    box-shadow: 10px 10px black;
}

.GroupDetailsButtons {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px black;
}

.groupImg {
    box-shadow: 10px 10px black;
}
