.allEventsRoot {
    background-image: url('../../images/eventWorldBackground.png');
}

.EventHeader {
    height: 140px;
    padding-top: 40px;
}

.EventComponent {
    display: flex;
    width: 90%;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.EventHeaderLinks {
    display: flex;
    height: 80px;
    font-size: 40px;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin-left: 260px;
    background-color: white;
    box-shadow: -26px -10px #FEE11A, 26px 15px #FF69DA;
    border: 2px solid black;
}

.EventHeaderCaption {
    display: flex;
    height: 140px;
    font-size: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.EventHeaderCaptionText {
    padding: 25px;
    background-color: white;
    box-shadow: -26px -10px #FEE11A, 26px 15px #FF69DA;
    border: 2px solid black;
}

.EventComponentSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.EventImg {
    display: flex;
    min-width: 480px;
    max-width: 480px;
    border: 2px solid black;
}

.EventDetails {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

.EventComponentSection {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.EventDescription {
    display: flex;
    width: 90%;
    padding-left: 40px;
    padding-right: 40px;
}

.EventWholeComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    width: 50%;
    background-color: white;
    box-shadow: -26px 15px #FF69DA;
}

.EventWholeComponent:hover {
    box-shadow: -26px 15px #FEE11A;
}
