.createEventRoot {
    display: flex;
    justify-content: center;
    border-bottom: 40px solid black;
}

.theWholeThing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    box-shadow: -35px 25px black;
    border: 5px solid black;
    margin: 40px;
}

.eventComp {
    border-top: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}

.upEventButton {
    width: 160px;
    height: 60px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.upEventButton:hover {
    box-shadow: -5px 5px #00C2FF;
    color: gold;
}
